
/*Sets the overall style of the HTML document*/
html {
    background-color: #40e0d0; /*Turqouise*/
    border-style: solid;
    border-width: 5px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}


#tomato {
    position: absolute;
    background-color: #ff6347; /*Tomato*/
    border-style: solid;
    width: 3%;
    height: 6%;
    top: 2%;
    right: 36%;
}
#not_implemented_text {
    position: absolute;
    top: 2%;
    right: 22%;
}

/*Positions the Headers for every screen*/
#header {
    position: absolute;
    width: 100%;
    height: 14%;
    top: 0%;
    left: 43%;
}

/*Positions and sizes the main menu content for every menu screen*/
.mainmenu_content {
    position: absolute;
    top: 18%;
    left: 7%;
    max-width: auto;
}

/*Positions and sized the input content for every input screen*/
.input_area {
    position: absolute;
    border-style: dashed;
    top: 18%;
    right: 6%;
    width: 57%;
    height: 77%;
}
/*Positions and sized the input area 2 content for every input screen*/
.input_area_2 {
    position: absolute;
    border-style: dotted;
    bottom: 3%;
    left: 7%;
    width: 26%;
    height: 54%;
}

/*Positions and sized the data content for every data screen*/
.data_area {
    position: absolute;
    background-color: #FFFFFF; /*white*/
    border-style: solid;
    top: 18%;
    right: 6%;
    width: 57%;
    height: 77%;
}

.input_field_1 {
    position: absolute;
    top: 5%;
    left: 5%;
    width: auto;
    height: 10%;
    font-size: larger;
}
.input_field_2 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: auto;
    height: 12%;
    font-size: larger;
}
.input_field_3 {
    position: absolute;
    top: 35%;
    left: 5%;
    width: auto;
    height: 12%;
    font-size: larger;
}
.input_field_4 {
    position: absolute;
    top: 50%;
    left: 5%;
    width: auto;
    height: 12%;
    font-size: larger;
}
.input_field_5 {
    position: absolute;
    top: 65%;
    left: 5%;
    width: auto;
    height: 12%;
    font-size: larger;
}

#space_amount_field {
    width: 9%;
    text-align: right;
}

.input_field_button {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: thin;
    border-color: #191970; /*MidnightBlue*/
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: auto;
    height: 100%;
}
.input_field2_1 {
    position: absolute;
    top: 5%;
    left: 1%;
    width: auto;
    height: 12%;
    font-size: larger;
}
.input_field2_2 {
    position: absolute;
    top: 20%;
    left: 1%;
    width: auto;
    height: 14%;
    font-size: larger;
}
.input_field2_3 {
    position: absolute;
    top: 35%;
    left: 1%;
    width: auto;
    height: 14%;
    font-size: larger;
}
.input_field2_4 {
    position: absolute;
    top: 50%;
    left: 1%;
    width: auto;
    height: 14%;
    font-size: larger;
}
.input_field2_5 {
    position: absolute;
    top: 65%;
    left: 1%;
    width: auto;
    height: 14%;
    font-size: larger;
}

.highlighted_input_field_button {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: double;
    border-color: #ffff00; /*yellow*/
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: auto;
    height: 100%;
}

.input_button {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: thin;
    border-color: #191970; /*MidnightBlue*/
    text-align: center;
    font-weight: bold;
    font-si0e: larger;
    width: 24%;
    height: 16%;
}

#accept_button {
    position: absolute;
    bottom: 2%;
    right: 10%;
}

#cancel_button {
    position: absolute;
    bottom: 2%;
    right: 40%;
}

.input_button2 {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: thin;
    border-color: #191970; /*MidnightBlue*/
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 44%;
    height: 14%;
}

#accept_button2 {
    position: absolute;
    bottom: 4%;
    left: 50%;
}

#cancel_button2 {
    position: absolute;
    bottom: 6%;
    left: 6%;
}

/*Positions Button 1*/
#button_1 {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*Positions Button 2*/
#button_2 {
    position: absolute;
    top: 0%;
    left: 110%;
}

/*Positions Button 3*/
#button_3 {
    position: relative;
    top: 0%;
    left: 220%;
}

/*Positions Button 4*/
#button_4 {
    position: absolute;
    top: 150%;
    left: 0%;
}

/*Positions Button 5*/
#button_5 {
    position: absolute;
    top: 150%;
    left: 110%;
}

/*Positions Button 6*/
#button_6 {
    position: absolute;
    top: 150%;
    left: 220%;
}


/*Changes how the table for the login form is seen*/
.loginform {
    position: absolute;
    text-align: center;
    width: 30%;
    height: 65%;
    padding: 40px;
    top: 20%;
    right: 40%;
    float: right;
}

.header_button {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: thin;
    border-color: #191970; /*MidnightBlue*/
    text-align: center;
    font-weight: bold;
    width: 10%;
    height: 8%;
}

#logout_button {
    position: absolute;
    top: 2%;
    right: 2%;
}

#home_button {
    position: absolute;
    top: 2%;
    left: 2%;
}

#back_button {
    position: absolute;
    top: 2%;
    left: 15%;
}

/*Changes how every table for almost every form, except the login form, is seen*/
.updateDB_form {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 80px;
    top: 0%;
    left: 2%;
}


/*Positions and sizes the username field at the login screen*/
#myusername {
    position: absolute;
    width: 80%;
    height: 8%;
    font-size: larger;
}

/*Positions and sizes the password field at the login screen*/
#mypassword {
    position: absolute;
    width: 80%;
    height: 8%;
    font-size: larger;
}

/*positions and sizes the login button at the login screen*/
.login_button {
    position: absolute;
    width: 40%;
    height: 12%;
    top: 65%;
    right: -10%;
    font-size: larger;
}

/*Positions, sizes, changes look and fonts for the main menu buttons.*/
.mainmenu_button {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: thin;
    border-color: #191970; /*MidnightBlue*/
    height: 100px;
    width: 260px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

/*Positions, sizes, changes look and fonts for the highlighted main menu buttons.*/
.highlighted_mainmenu_button {
    background-color: #dcdcdc; /*Gainsboro*/
    border-style: double;
    border-color: #ffff00; /*yellow*/
    height: 100px;
    width: 260px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

/*Positions, sizes, changes look and fonts for the not implemented main menu buttons.*/
.not_implemented_mainmenu_button {
    background-color: #ff6347; /*Tomato*/
    border-style: thin;
    border-color: #191970; /*MidnightBlue*/
    height: 100px;
    width: 260px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}





/*Positions and sizes the copyright field at every screen*/
#copyright {
        color: #000000; /*Black*/
        position: absolute;
        position: fixed;
        bottom: 2px;
        right: 5%;
    }